/* CSS  Reset */
* {
    margin: 0px;
    padding: 0px;
    /* background-color: black; */
}

html {
    scroll-behavior: smooth;
}

/* CSS Variables
:root {
    --navbar-height: 60px;
} */

/* Navigation Bar */
#navbar {
    display: flex;
    align-items: center;
    position: relative;
    top: 0px;
    position: sticky;
}

#navbar::before {
    content: "";
    background-color: black;
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.5;
    top: 0px;
    left: 0px;
}

/* Navigation Bar Logo and image */
#logo {
    margin: 4px 4px;
}

#logo img {
    height: 115px;
    margin: 4px 4px;
    border-radius: 16px
}

/* Navigation Bar List Styling */

#navbar ul {
    display: flex;
    font-family: 'Ubuntu', sans-serif
}

#navbar ul li {
    list-style: none;
    font-size: 1.3rem;
}

#navbar ul li a {
    color: white;
    display: block;
    padding: 3px 22px;
    border-radius: 20px;
    text-decoration: none;
}

#navbar ul li a:hover {
    color: black;
    background-color: white;
}

/* Home Section */
#home {
    height: 231px;
    display: flex;
    flex-direction: column;
    padding: 76px 200px;
    justify-content: center;
    align-items: center;
}

#home::before {
    content: "";
    position: absolute;
    background: url('../img/food.jpg') no-repeat center center/cover;
    height: 516px;
    top: 0px;
    left: 0px;
    width: 100%;
    z-index: -1;
    opacity: 0.9;
}

#home h1 {
    color: white;
    text-align: center;
    font-family: 'Raleway', sans-serif;
}

#home p {
    color: white;
    text-align: center;
    font-size: 1.5rem;
    font-family: 'Roboto', sans-serif
}

/* services section  */
#services {
    margin: 34px;
    display: flex;

}

#services .box {
    border: 2px solid brown;
    padding: 34px;
    margin: 3px 12px;
    border-radius: 28px;
    background-color: #f2eeee;
    margin-bottom: 20px;
}

#services .box img {
    height: 166px;
    margin: auto;
    display: block;
    border-radius: 28px;
}

#services .box p {
    font-family: 'Raleway', sans-serif;
}

/* Client Section  */
#client-section {
    position: relative;
}

#client-section::before {
    content: "";
    position: absolute;
    background: url(../img/food1.jpg)no-repeat center center/cover;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.6;
}

#clients {
    display: flex;
    justify-content: center;
    align-items: center;
}

#clients img {
    height: 124px;
}

/* Contact Section */
#contact {
    position: relative;
}

#contact::before {
    content: "";
    position: absolute;
    background: url(../img/contact4.jpg) no-repeat center center/cover;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.7;
}

#contact-box {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 34px;
}

#contact-box input,
#contact-box textarea {
    width: 100%;
    padding: 0.5rem;
    border-radius: 9px;
    font-size: 1.1rem;
}

#contact-box form {
    width: 40%;
}

#contact-box label {
    font-size: 1.3rem;
    font-family: 'Raleway', sans-serif;
}

footer {
    background: black;
    color: white;
    padding: 9px 20px;
}

/* Utility Classes */
.h-primary {
    font-family: 'Raleway', sans-serif;
    font-size: 3.8rem;
    padding: 13px;
}

.h-secondary {
    font-family: 'Raleway', sans-serif;
    font-size: 2.3rem;
    padding: 12px;
}

.btn {
    padding: 6px 20px;
    border: 2px solid white;
    background-color: brown;
    color: white;
    margin: 18px;
    font-size: 1.4rem;
    border-radius: 12px;
    cursor: pointer;
}

.center {
    text-align: center;
}